<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="s">
    <title>Document</title>
</head>
<body>
    <img style="width: 100%;height: 100vh;" src="{% static 'image\C:\Users\Harish Babu G\OneDrive\Desktop\mypro\food\static\img\about.jpg' %}">
    <footer>
        <div> Golden foods
            <div>About Golden foods
                <nav>
                    <a href="#">who we are</a>
                    <a href="#">Blog</a>
                    <a href="#">work with Us</a>
                    <a href="#">investors </a>
                    <a href="#">reposrt</a>
                    <a href="#">press kit</a>
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>