<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
    <link rel="stylesheet" href="\static\css\miss.css">
</head>
<body>
    <div>
        <header class="errorpage">Golden foods</header>
        <div class="err">
            <div class="err-con">
                <div class="notfound">
                    <div class="reasons">
                        <h1 class="lines">Looks liske we're missing something</h1>
                        <p class="main">We couldn't cook up the page you were looking for because it doesn't exist</p>
                        <p class="lead">Return to the <a href="portfolio.html">homepage</a>.</p>
                    </div>
                </div>
            </div>
        
    </div>
    </div>
    <footer class="s-footer">
        <div class="s-container">
            <div class="s-row">
                <div class="s-col">
                    &copy; 2024 
                </div>
            </div>
        </div>
    </footer>
</body>
</html>