<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'css\password.css' %}">
</head>
<body>
   
   <div >
   <img class="impg" src="{% static 'image\C:\Users\Harish Babu G\OneDrive\Desktop\mypro\food\static\img\fe42752165a874c9800993cc45206369.jpg' %}" alt="hi"> 
    <form  class="pass" method="POST" action="login">
        {% csrf_token %}
        {{ ps.as_p }}
    <button class="button" type="submit">submit</button>   
   
   </form> 
</div>
</body>
</html>